/* @theme academic */

@import 'gaia';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --color-background: #fff;
  --color-foreground: #333;
  --color-highlight: #ee955a;
}

section {
  background-image: url('https://raw.githubusercontent.com/Luftalian/marp-theme-academic/main/images/slide.jpg');
  background-size: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 110px;
  padding-left: 40px;
  padding-right: 40px;
}

/* https://github.com/marp-team/marpit/issues/271 */
section::after {
  font-weight: 700;
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

ul ul {
  font-size: 0.9em;
}

section.title {
  height: 100%;
  background-image: url('https://raw.githubusercontent.com/Luftalian/marp-theme-academic/main/images/cover.jpg');
  background-size: 100%;
}

section.title h1 {
  color: #333;
  margin-top: 190px;
  text-align: center;
}
section.title h1 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.title h2 {
  color: #ee955a;
  text-align: left;
}
section.title h2 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.title h3 {
  color: #ee955a;
  text-align: left;
}
section.title h3 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.title h4 {
  color: #ee955a;
  text-align: left;
}
section.title h4 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.title h5 {
  color: #ee955a;
  text-align: left;
}
section.title h5 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.title p {
  text-align: right;
}

section.lead h1 {
  color: #ec7f36;
  text-align: left;
}
section.lead h1 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.lead h2 {
  color: #ee955a;
  text-align: left;
}
section.lead h2 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.lead h3 {
  color: #ee955a;
  text-align: left;
}
section.lead h3 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.lead h4 {
  color: #ee955a;
  text-align: left;
}
section.lead h4 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.lead h5 {
  color: #ee955a;
  text-align: left;
}
section.lead h5 strong {
  -webkit-text-stroke: 1px #ee955a;
}
section.lead p {
  text-align: right;
}

header {
  color: #ee955a;
  top: 30px;
  font-size: 1em;
  font-weight: 700;
}

blockquote {
  max-width: 90%;
  border-top: 0.1em dashed #555;
  font-size: 60%;
  position: absolute;
  bottom: 20px;
}
blockquote::before {
  content: "";
}
blockquote::after {
  content: "";
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

code {
  font-family: 'Source Code Pro', monospace;
}
